/* element styling */
body {
  background-color: #ffebcd;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}
header {
  background-color: #552a2a99;
  padding: 0.2rem;
}
main {
  margin: 0.5rem;
}
footer {
  display: flex;
  justify-content: flex-end;
  color: #660000bb;
  margin: 0;
  padding: 0 2rem 0 0;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-color: #aaaaaa44;
}
h1 {
  align-self: flex-start;
}
/* Navigation bar style */
.navbar,
.navbar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right {
  display: flex;
  flex-direction: row;
}
.nb-item {
  padding: 0 0 0 0.5rem;
}
.search-btn,
.search-inp {
  background-color: #dddddd77;
  margin: 0;
  border-radius: 0.5rem;
}
div.search {
  display: flex;
  align-items: center;
}

.search-btn {
  border-style: none;
  background-color: transparent;
}

#channels,
#mylibrary {
  background-color: #dddddd77;
  border-radius: 1rem;
}

/* misc styling */
.fa-youtube {
  font-size: 2.5rem;
}
/* image style */
.full-logo {
  width: 10rem;
}

.ys-logo {
  width: 1.7rem;
}

/* display text over image */
.featured-card {
  position: relative;
  text-align: center;
  color: whitesmoke;
}
.likes-container {
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1.3rem;
}
.featured-likes {
  background-color: #222222cc;
  margin: 0 0.1rem;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border: solid 0.1rem #333;
  border-radius: 0.75rem;
}
.featured-link {
  color: whitesmoke;
  text-decoration: none;
}

/* section style */
.continue-link,
.trending-link,
a {
  color: #401;
  text-decoration: none;
}
.featured,
.continue {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* card style */
.continue-card {
  background-color: rgba(245, 222, 179, 0.4);
  /* background-color: hotpink; */
}
.trending-cards {
  display: flex;
  flex-direction: column;
}
.trending-link {
  display: flex;
  justify-content: center;
}
.trending-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-bottom: 0.2rem;
  /* background-color: rgba(245, 222, 179, 0.4); */
}
.trending-copy {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0 0.5rem 0;
  background-color: rgba(245, 222, 179, 0.4);
  border-radius: 0 1rem 1rem 0;
}
.trending-copy p {
  padding: 0;
  margin: 0.2rem 0 0.2rem 0.2rem;
  text-align: center;
}
.trending-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.trending-channel {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.video-thumbnail {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 0;
  border-radius: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
}
.summary-video-title {
  margin: 0.5rem 0.2rem 0.5rem 0.2rem;
}
.summary-video-description {
  margin: 0 0.2rem 0.5rem 0.2rem;
  font-size: 0.8rem;
}
.featured-cards,
.continue-cards {
  width: 97%;
  display: flex;
  justify-content: space-around;
}
.featured-card {
  width: 100%;
  margin: 0 0.15rem;
}
.continue-card {
  margin: 0 0.3rem 0 0;
}

@media (max-width: 799px) {
  .full-logo {
    display: none;
  }
  .desktop {
    display: none;
  }
}

@media (min-width: 800px) {
  .ys-logo {
    display: none;
  }
  /* .featured-card, */
  .continue-card {
    /* min-width: 200px; */
    max-width: 300px;
  }
  .trending-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 70%;
  }
  .trending-img-cont {
    width: 100%;
  }
  .trending-copy p {
    text-align: left;
  }
  .trending-link {
    display: flex;
    justify-content: flex-start;
  }
  .nav-icon,
  .search-btn,
  .search-inp,
  #channels,
  #mylibrary {
    font-size: 1.15rem;
  }
  .likes-container {
    font-size: 0.8rem;
  }
}
