/* body */
body {
  background-color: blanchedalmond;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
header {
  background-color: #cad3b5dc;
}
/* Navigation bar style */
.navbar,
.navbar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* image style */
.full-logo {
  width: 7rem;
}

.ys-logo {
  width: 1.5rem;
}
